<mat-card class="product-card" *ngIf="currentProduct">
    <mat-card-header>

      <mat-card-title> 
        {{currentProduct.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{currentProduct.catagory}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{currentProduct.picture}} alt="product Image">
    <mat-card-content class="product-content">
      <span class="material-icons">
        attach_money
        </span>
        {{currentProduct.price}} 
 
 
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  